{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <!-- States table-->

    <h2>States Listing</h2>
    <table class="table" id="state">
        <thead>
            <tr class="bg-primary">
              <th>#</th>
              <th>Destination Name</th>
              <th>Destination Info</th>
              <th>Destination Desciption</th>
              <th>List</th>
              <th>Update</th>
            </tr>
        </thead>
        <tbody>
        {% for s in states %}
            <tr>
              <th scope="row">{{s.id}}</th>
              <td>{{s.DbStateName}}</td>
              <td>{{s.DbStateInfo}}</td>
              <td>{{s.DbStateDescription}}</td>

              <td>
              <a href="../admin/listing/{{s.dbStateName}}" type="button" class="btn btn-success btn-sm glyphicon glyphicon-folder-open"></a>
              </td>
              <td>
              <a href="edit/{{s.dbStateName}}" type="button" class="btn btn-warning btn-sm glyphicon glyphicon-pencil"></a>
              </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascripts %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#tabs" ).tabs();
} );
</script>
{% endblock %}
