{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
      <h2> Edit City Page</h2>
      {{ form_start(form) }}
          {{ form_errors(form) }}
      <div class="row">
        <div class="col-md-4">
            {% for s in form.state %}
              {{ form_row(s) }}
            {% endfor %}
        </div>
      </div>
      {{ form_end(form) }}
    </div>
{% endblock %}
