{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
      <h2>Edit Sleeping Page</h2>
      {{ form_start(form) }}
          {{ form_errors(form) }}
      <div class="row">
        <div class="col-md-4">
            {% for c in form.city %}
              {{ form_row(c) }}
            {% endfor %}
        </div>
      </div>
      {{ form_end(form) }}
    </div>
{% endblock %}
