{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
      <h2> Edit States Page</h2>
      {{ form_start(form) }}
          {{ form_errors(form) }}
      {{ form_end(form) }}
    </div>
{% endblock %}
