<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>{% block title %} §Admin Panel§ {% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}
</head>
<body>
<nav class="navbar navbar-default sidebar" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>
          <button href="../../admin/list" type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span>
            &nbsp;HOME</button>
        </li>
        <li class="dropdown">
          <button href="#" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="pull-left hidden-xs showopacity glyphicon glyphicon-bookmark"></span>
            &nbsp;STATE</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="/admin/list">States Listing&nbsp;&nbsp;<span class="glyphicon glyphicon-th-list"></span>
              </a>
            </li>
            <li>
          </ul>
        </li>

        <!--City Listing-->
        <li class="dropdown">
          <button href="#" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-tower"></span>
            &nbsp;CITY</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="/admin/cities/listingcities/">City Listing&nbsp;&nbsp;<span class="glyphicon glyphicon-th-list"></span>
              </a>
            </li>
            <li>
              <a href="../../../admin/addcity">Add City&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>
              </a>
            </li>
          </ul>
        </li>

        <!--Getaway Listing-->
        <li class="dropdown">
          <button href="#" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon glyphicon-road"></span>
            &nbsp;GETAWAYS</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="/admin/getaways/listing/">Getaways Listing&nbsp;&nbsp;<span class="glyphicon glyphicon-th-list"></span>
              </a>
            </li>
            <li>
              <a href="../../../admin/addgetaway">Add Getaways&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>
              </a>
            </li>
          </ul>
        </li>

        <!--National Park Listing-->
        <li class="dropdown">
          <button href="#" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon glyphicon-tent"></span>
            &nbsp;NATIONAL PARKS</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="/admin/nationalpark/listing/">National Parks Listing&nbsp;&nbsp;<span class="glyphicon glyphicon-th-list"></span>
              </a>
            </li>
            <li>
              <a href="../../../admin/addnpark">Add National Park&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>
              </a>
            </li>
          </ul>
        </li>

        <!--Images Listing-->
        <li class="dropdown">
          <button href="#" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="pull-left hidden-xs showopacity glyphicon glyphicon-picture"></span>
            &nbsp;IMAGES</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="/admin/images/listingimages/">Images Listing&nbsp;&nbsp;<span class="glyphicon glyphicon-th-list"></span>
              </a>
            </li>
            <li>
              <a href="../../../admin/addimages/">Add Images&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>
              </a>
            </li>
          </ul>
        </li>

        <!--Sights Listing-->
        <li class="dropdown">
          <button href="#" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="pull-left hidden-xs showopacity glyphicon glyphicon-pushpin"></span>
            &nbsp;SIGHTS</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="/admin/sights/listing/">Sights Listing&nbsp;&nbsp;<span class="glyphicon glyphicon-th-list"></span>
              </a>
            </li>
            <li>
              <a href="../../../admin/addsight">Add Sight&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>
              </a>
            </li>
          </ul>
        </li>

        <!--Eating Listing-->
        <li class="dropdown">
          <button href="#" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="pull-left hidden-xs showopacity glyphicon glyphicon-cutlery"></span>
            &nbsp;EATING</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="/admin/eating/listing/">Eating Listing&nbsp;&nbsp;<span class="glyphicon glyphicon-th-list"></span>
              </a>
            </li>
            <li>
              <a href="../../../admin/addeating">Add Eating&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>
              </a>
            </li>
          </ul>
        </li>

        <!--Drinking Listing-->
        <li class="dropdown">
          <button href="#" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="pull-left hidden-xs showopacity glyphicon glyphicon-glass"></span>
            &nbsp;DRINKING</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="/admin/drinking/listing/">Drinking Listing&nbsp;&nbsp;<span class="glyphicon glyphicon-th-list"></span>
              </a>
            </li>
            <li>
              <a href="../../../admin/adddrinking">Add Drinking&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>
              </a>
            </li>
          </ul>
        </li>

        <!--Sleeping Listing-->
        <li class="dropdown">
          <button href="#" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="pull-left hidden-xs showopacity glyphicon glyphicon-bed"></span>
            &nbsp;SLEEPING</span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="/admin/sleeping/listing/">Sleeping Listing&nbsp;&nbsp;<span class="glyphicon glyphicon-th-list"></span>
              </a>
            </li>
            <li>
              <a href="../../../admin/addsleeping">Add Sleeping&nbsp;&nbsp;<span class="glyphicon glyphicon-plus"></span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block body %}
{% endblock %}
{% block javascripts %}
<!-- Scripts -->
<script src="js/jquery.min.js"></script>
<script src="js/jquery.scrolly.min.js"></script>
<script src="js/jquery.scrollex.min.js"></script>
<script src="js/skel.min.js"></script>
<script src="js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="js/main.js"></script>
{% endblock %}
</body>
</html>
