<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>{% block title %} §Admin Panel§ {% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        {% endblock %}

    </head>
    <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="panel panel-default">
              <div class="collapse navbar-collapse" id="navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-left">
                      <li class="btn btn-default btn-xs">
                          <a class="text-center"href="../../admin/list">Destination Balkans</a>
                      </li>
                  </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li class="btn btn-default btn-xs"><a href="../../admin/list">State List</a></li>
                  <li class="btn btn-default btn-xs"><a href="../../admin/listimages">Photo List</a></li>
                  <li class="btn btn-default btn-xs"><a href="../../admin/addcity">Add City</a></li>
                  <li class="btn btn-default btn-xs"><a href="../../admin/addnpark">Add National Park</a></li>
                  <li class="btn btn-default btn-xs"><a href="../../admin/addgetaway">Add Getaway</a></li>
                  <li class="btn btn-default btn-xs"><a href="../../admin/addsight">Add Sight</a></li>
                  <li class="btn btn-default btn-xs"><a href="../../admin/addphoto">Add Photo</a></li>
                  <li class="btn btn-default btn-xs"><a href="../../admin/addsleeping">Add Sleeping</a></li>
                  <li class="btn btn-default btn-xs"><a href="../../admin/addeating">Add Eating</a></li>
                  <li class="btn btn-default btn-xs"><a href="../../admin/adddrinking">Add Drinking</a></li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container -->
          </div>
          </nav><!-- /.navbar -->
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        <!-- Scripts -->
        <script src="js/jquery.min.js"></script>
        <script src="js/jquery.scrolly.min.js"></script>
        <script src="js/jquery.scrollex.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="js/main.js"></script>
        {% endblock %}
    </body>
</html>
