{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <!-- National Parks table-->

    <h2>National Parks Listing</h2>
    <div class="row">
    <div class="col-sm-8 col-md-8">
    <table class="table" id="nationalparks">
        <thead>
        <tr class="bg-primary">
            <th>#</th>
            <th>Destination Name</th>
            <th>Destination Info</th>
            <th>Destination Desciption</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for np in nparks %}
        <tr>
            <th scope="row">{{np.id}}</th>
            <td>{{np.dbParkName}}</td>
            <td>{{np.dbParkInfo}}</td>
            <td>{{np.dbParkDescription}}</td>
            <td><a href="../../../admin/edit/nationalpark/{{np.dbParkName}}" class="btn btn-warning" role="button">UPDATE</a></td>
            <td><a href="../deletenationalpark/{{np.id}}" class="btn btn-danger" role="button">DELETE</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#tabs" ).tabs();
} );
</script>
{% endblock %}
