{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Cities</a></li>
      <li><a href="#tabs-2">National Parks</a></li>
      <li><a href="#tabs-3">Getaways</a></li>
    </ul>

<!-- City Parks table-->
    <div id="tabs-1">
    <h2>Cities Listing</h2>
    <table class="table" id="city">
        <thead>
            <tr class="bg-primary">
              <th>#</th>
              <th>Destination Name</th>
              <th>Destination Info</th>
              <th>Destination Desciption</th>
              <th>Read</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for cities in ct %}
            <tr>
              <th scope="row">{{cities.id}}</th>
              <td>{{cities.DbCityName}}</td>
              <td>{{cities.DbCityInfo}}</td>
              <td>{{cities.DbCityDescription}}</td>
              <td>
              <a href="../read" type="button" class="btn btn-success btn-sm glyphicon glyphicon-book"></a>
              </td>
              <td>
              <a href="../city/{{cities.dbCityName}}" type="button" class="btn btn-warning btn-sm glyphicon glyphicon-pencil"></a>
              </td>
              <td>
              <a href="../delete/{{ cities.id }}" type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash"></a>
              </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

<!-- National Parks table-->
    <div id="tabs-2">
    <h2>National Parks Listing</h2>
    <table class="table" id="national_park">
        <thead>
            <tr class="bg-primary">
              <th>#</th>
              <th>Destination Name</th>
              <th>Destination Info</th>
              <th>Destination Desciption</th>
              <th>Read</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for nprks in np %}
            <tr>
              <th scope="row">{{nprks.id}}</th>
              <td>{{nprks.DbParkName}}</td>
              <td>{{nprks.DbParkInfo}}</td>
              <td>{{nprks.DbParkDescription}}</td>
                <td>
                    <a href="../read" type="button" class="btn btn-success btn-sm glyphicon glyphicon-book"></a>
                </td>
                <td>
                    <a href="../city/{{nprks.dbParkName}}" type="button" class="btn btn-warning btn-sm glyphicon glyphicon-pencil"></a>
                </td>
                <td>
                    <a href="../delete/{{ nprks.id }}" type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

<!-- Getaways table-->
    <div id="tabs-3">
    <h2>Getaways Listing</h2>
    <table class="table" id="getaways">
        <thead>
            <tr class="bg-primary">
              <th>#</th>
              <th>Destination Name</th>
              <th>Destination Info</th>
              <th>Destination Desciption</th>
              <th>Read</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for gtw in gw %}
            <tr>
              <th scope="row">{{gtw.id}}</th>
              <td>{{gtw.DbGetawaysName}}</td>
              <td>{{gtw.DbGetawaysInfo}}</td>
              <td>{{gtw.DbGetawaysDescription}}</td>
                <td>
                    <a href="../read" type="button" class="btn btn-success btn-sm glyphicon glyphicon-book"></a>
                </td>
                <td>
                    <a href="../city/{{gtw.dbGetawaysName}}" type="button" class="btn btn-warning btn-sm glyphicon glyphicon-pencil"></a>
                </td>
                <td>
                    <a href="../delete/{{ gtw.id }}" type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        </div><!-- tab3 div -->

  </div>
</div>
{% endblock %}
{% block javascripts %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#tabs" ).tabs();
} );
</script>
{% endblock %}
