{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <!-- Sleeping table-->

    <h2>Sleeping Listing</h2>
    <div class="row">
        <div class="col-sm-8 col-md-8">
            <table class="table" id="sleeping">
            <thead>
                <tr class="bg-primary">
                    <th>#</th>
                    <th>Property Name</th>
                    <th>Property Info</th>
                    <th>Property Web Page</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
        <tbody>
    {% for s in sleeps %}
        <tr>
            <th scope="row">{{s.id}}</th>
            <td>{{s.dbSleepingName}}</td>
            <td>{{s.dbSleepingInfo}}</td>
            <td>{{s.dbSleepingWeb}}</td>
            <td><a href="../../../admin/edit/sleeping/{{s.dbSleepingName}}" class="btn btn-warning" role="button">UPDATE</a></td>
            <td><a href="../../deletesleeping/{{s.id}}" class="btn btn-danger" role="button">DELETE</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#tabs" ).tabs();
} );
</script>
{% endblock %}
