{% extends 'base.html.twig' %}

{% block body %}
<div class="container">

    <!-- Images table-->

    <h2>Images Listing</h2>
    <span> <!-- Need one more div to be inline-->
    <div class="row">
        <div class="col-sm-6 col-md-4">
        {% for i in images %}
            <div class="thumbnail">
                <img src="images/products{{ asset(i.dbImageFile) }}" class="img-thumbnail" alt="" style="height: 200px; width: 100%; display: block;" />
                <div class="caption">
                    <h3>{{i.dbImageName}}</h3>
                    <p>{{i.dbFilenameProperty}}</p>
                      <p>
                        <a href="/edit/{{i.dbImageName}}" class="btn btn-warning" role="button">UPDATE</a>
                        <a href="../../deleteimage/{{i.id}}" class="btn btn-danger" role="button">DELETE</a>
                      </p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    </span>
</div>
{% endblock %}
{% block javascripts %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$( function() {
  $( "#tabs" ).tabs();
} );
</script>
{% endblock %}
