{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
      <h2> Add Getaway Page</h2>
      {{ form_start(form) }}
      {% for flash_message in app.session.flashBag.get('Message') %}
        <div class="row">
          <div class="col-md-8">
            <div class="alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>Success!</strong> {{ flash_message }}
            </div>
          </div>
        </div>
      {% endfor %}
          {{ form_errors(form) }}
        <div class="row">
          <div class="col-md-8">
            {{ form_row(form.dbGetawaysName) }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            {{ form_row(form.dbGetawaysInfo) }}
          </div>
        </div>
      <div class="row">
        <div class="col-md-8">
          {{ form_row(form.dbGetawaysDescription) }}
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            {% for s in form.state %}
              {{ form_row(s) }}
            {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          {{ form_row(form.Submit, { 'label': 'Add New Product' }) }}
          </div>
        </div>
      {{ form_end(form) }}
    </div>
{% endblock %}
