{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="container">
        <div class="col-md-4">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form action="{{ path('login') }}" method="post" >
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" id="" placeholder="Username" />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" class="form-control" id="exampleInputPassword1" placeholder="Password" />
                    <input type="hidden" name="admin/list/" value="/admin/list" />
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}